/*============ Colors Definition ===========*/










/*============= Fonts Definition =================*/

$serif: Georgia, serif;
$sans-serif: 'Museo Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;


/*============ Breakpoints Definition ==========*/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;
$maximum: $s5;