/*============ Colors Definition ===========*/

$nt-white:#dcdcdc;
$nt-black:#2E2F2C;
$gray:#5b5b5b;
$gray-light:#6b6b6b;
$yellow:#a9c92f;







/*============= Fonts Definition =================*/

$serif: Georgia, serif;
$sans-serif: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;


/*============ Breakpoints Definition ==========*/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;
$maximum: $s5;



$em2: 20em;
$em3: 32em;
$em4: 48em;
$em5: 64em;