.banner {
	position: relative;
	z-index:9;
}
.sec__header {
	border-top: 1px solid $nt-white;
}

.sec__header__title {
	font-size: 1.125em;
	line-height: 1em;
	margin:0;
	padding:0.666em 0;
	color:$yellow;
	@include bp($s2) {
		float:right;
	}
	@include bp($s3) {
		font-size:1.333em;
	}
}