.home {
	.document {
		background-image: url('../img/hero_small.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		@include bp($s3){
			background-image: url('../img/hero.jpg');
		}
	}

}

.home__banner {
	min-height: 3em;
	background-color: $nt_black;
	position: fixed;
	top:0; left:0;
	width: 100%;

}