.banner__inner {
  position: relative;
}
.headaside {
   @include clearfix();
  position: absolute;
  right:2em;
  top:0;
  padding:.2em 0;
  line-height: 1;
  @include bp($s2) {
   right:1em;
   padding:.75em 0 0;
    //background-color: $nt-white;
  }
  @include bp($s3) {
    padding-top:1em;
  }


  //lang
  ul {
    margin:0;
    padding:0 0;
    list-style-type: none;
    > li {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      font-size: .666em;
      font-weight:700;
      white-space: nowrap;
      text-overflow:ellipsis;
      overflow: hidden;
      max-width:3rem;
      padding:0 .1875em;
      overflow:hidden;
      &:not(:last-child) {
        //border-right:1px solid rgba($nt-white,.5);
      }
      @include bp($s2) {
        font-size: .666em;
      }
      > a {
        color:$nt-white;
        img {
          display:block;
          margin:0 auto .25em auto;
        }
      }
    }
  }
}
.navbar {
  @include clearfix();
}

.navbar__header {
  position: relative;
  @include bp($s2) {
    float: right;
    padding-right: 7rem;
  }
  @include bp($s4) {
    padding-right: 7.5rem;
  }
}

.navbar__brand {
  display: block;

  width: 148px;
  height: 26px;
  margin: .5em 0;

  background-image: url('../img/logo_plus.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;

  @include hide-text();
  @include bp($s2) {
    margin-top:.666em;
  }

  @include bp($s3) {
    margin-top:.75em;
    width: 220px;
    height: 30px;
  }
  @include bp($s4) {
    width: 439px;
    height: 30px;

    background-image: url('../img/logo_full.png');
  }
}








.navbar__toggle {
  display: block;
  float: right;

  width: 30px;
  height: 30px;

  text-align: right;

  @include bp($s2) {
    display: none;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
  i {
    font-size: 30px;
    margin-top: -2px;
  }
}

input[type="checkbox"]#nav__toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
  visibility: hidden;
  opacity: 0;

  &:checked + .navbar__navigation {
    //height: auto;
    height: 25em;
    //visibility:visible;
    opacity:1;
  }
}

.navbar__navigation {
  //min-height: 0;
  height: 0;
  //visibility: hidden;
  opacity:0;
  overflow: hidden;
  margin: 0 -1em;
  transition: opacity .2s ease-in, height .2s ease-in;

  @include bp($s2) {
    float: left;
    margin:0 0 0;
    min-height: auto;
    height: auto;
    visibility:visible;
    opacity:1;
  }
}




/******** MAin Navigation ******/


.nav--main {
  margin: 0 0em;
  padding: 0 0;

  @include clearfix();
  @include bp($s2) {
    float: left;
  }
  li {
    font-size: 1.333em;
    line-height: 1;

    margin: 0 0 1px;
    padding: 0;

    list-style-type: none;

    text-align: center;

    color: $nt-white;

    @include bp($s2) {
      font-size: 0.875em;


      float: left;

			margin-bottom: 0;
      margin-right: .333em;
    }
    @include bp($s3) {
      font-size: 1em;
    }

    @include bp($s4) {
      font-size: 1em;
    }
    &.active,
    &:hover,
    &:focus {
      color: $nt-black;
      background-color: $nt-white;
    }

    .post-type-archive-project &, .single-project & {
      &.menu-news {
        color:$nt-white;
        background-color: transparent;
      }
      &.menu-projects {
        color: $nt-black;
        background-color: $nt-white;
      }
    }

    .post-type-archive-competition &, .single-competition & {
      &.menu-news {
        color:$nt-white;
        background-color: transparent;
      }
      &.menu-competitions {
        color: $nt-black;
        background-color: $nt-white;
      }
    }

    .post-type-archive-employee &  {
      &.menu-news {
        color:$nt-white;
        background-color: transparent;
      }
      &.menu-employees {
        color: $nt-black;
        background-color: $nt-white;
      }
    }


    > a {
      display: block;

      padding: 1.25em .666em 1.125em;

      text-decoration: none;
      text-transform: uppercase;

      color: inherit;
      &:hover,
      &:focus {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}




/***** Filter Csuszat *****/




@media only screen and (max-width: $s2) {

  .subtoggler {
    @include clearfix();
    font-size: 1.125em;
    line-height: 1em;
    margin:0;
    padding:0.666em 0.75em;
    border-top: 1px solid $nt_white;
    color:$yellow;

    a {
      color:inherit;
      text-decoration: none;
    }

    .subnav-toggle {

    }

    .subtoggler__title {
      text-transform: uppercase;
      float:right;
      color:$yellow;
    }
  }

  .sec__header {
    @include clearfix();
    width:12em;
    float:left;

    transition: margin .4s ease;

    margin-left: -100%;
    .subnav_isactive & {
      margin-left: 0;
    }

  }


  .csuszat {
    position: relative;
    @include clearfix();
    min-height: 100vh;

    width: 100%;
    margin: 0 auto;

    float:left;

    margin-right:0;
    transition: margin .4s ease;
    .subnav_isactive & {
      margin-right: -100%;
    }

  }

}


.subtoggler {
  @include bp($s2) {
    display: none;
  }
}

/******* Sub Navigation *******/

.nav--sub {
  margin: 0 0;
  padding: 0 0;

  @include clearfix();
  @include bp($s2) {
    float: left;
    margin:0 0;
    padding:0 0;
    max-width: calc(100% - 7rem);
    .post-type-archive-competition & {
      max-width: calc(100% - 11rem);
    }
    .post-type-archive-employee & {
      max-width: calc(100% - 9rem);
    }
  }
  li {
    font-size: 0.75em;
    line-height: 1;
    display: block;

    margin: 0 0 1px 0;
    padding: 0;

    list-style-type: none;

    text-align: left;

    color: $nt-white;

    @include bp($s2) {
      display: inline-block;
      text-align: center;
      font-size: 0.75em;

      float: left;
      margin-right: 0;
      margin-bottom: 0;
      margin-right: 1px;
      display: block;
    }

    @include bp($s3) {
      //font-size: 0.875em;
    }

    .page-child & {
      &.menu-about {
        color:$nt-white;
        background-color: transparent;
      }
    }


    .blog &.cat-item-all,
    &.current-cat,
    &.active,
    &:hover,
    &:focus {
      color: $nt-black;
      background-color: $nt-white;
    }
    > a {
      display: block;

      padding: 1em .666em;

      text-decoration: none;
      text-transform: uppercase;

      color: inherit;
      &:hover,
      &:focus {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}



/**** Reference PAge Navigation */

.refnav {
  @include clearfix();
  margin: 4em 0;
  .refnav__wrap {

    position: relative;
    text-align: justify;
    &:after {
      content: '';
      width:100%;
      display: inline-block;
    }
  }

  hr {
    border:none;
    height:1px;
    background-color: $gray;
    margin-bottom: 1em;
  }
  a {
    position: relative;
    display: inline-block;
    color:$nt_white;
    line-height: 1;

    &:hover,&:focus {
      color: $yellow;
      text-decoration: none;
      .navtext {
        display: inline-block;
        //color:$yellow;
      }
    }

    i {
      font-size: 3em;
    }

    span {
      font-size: .75em;
      display: inline-block;
      text-transform: uppercase;
      padding: 0 .75em;
      transform:translateY(-.5em);
      width: 7em;
      line-height: 1.25;

      //display: none;
      //text-align: center;

    }
    .navtext {
      position: absolute;
      top:102%;
      left:0;
      width:12em;

      margin:0;
      padding:0;
      //display: inline-block;
      display: none;
      max-width: 20em;
      text-align: left;
      line-height: 1;
      font-size: 0.875em;
      font-family: $sans-serif;
      font-weight: 300;
      text-transform: uppercase;
    }

    &.refnav__all {
      .navtext {
        left:-.875em;
      }
    }
  }

  a[rel="prev"] {
    span {
      text-align: right;
    }
    .navtext {
      text-align: right;
      left:auto;
      right:0;
    }
  }
}



.pager {
  @include clearfix();
  list-style-type: none;
  padding:0;
  margin:4rem 0 0;
  li a {
    display: inline-block;
    padding:0.333em 0.75em;
    text-transform: uppercase;
    background-color: $gray;
    color: $nt-white;
    text-decoration: none;
    &:hover, &:focus {
      background-color: $yellow;
      color:$nt-black;
    }
  }

  .previous {
    float:left;
  }
  .next {
    float:right;
  }

}
