.navbar {
  @include clearfix();
}

.navbar__header {
  @include bp($s2) {
    float: left;
  }
}

.navbar__brand {
  display: block;

  width: 148px;
  height: 26px;
  margin: .5em 0;

  background-image: url('../img/logo_mini.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 100% auto;

  @include hide-text();
  
  @include bp($s3) {
    width: 175px;
    height: 30px;
  }
  @include bp($s4) {
    width: 439px;
    height: 30px;

    background-image: url('../img/logo_full.png');
  }
}








.navbar__toggle {
  display: block;
  float: right;

  width: 30px;
  height: 30px;

  text-align: right;

  @include bp($s2) {
    display: none;
  }
  &:hover,
  &:focus {
    cursor: pointer;
  }
  i {
    font-size: 30px;
    margin-top: -2px;
  }
}

input[type="checkbox"]#nav__toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
  display: none;
  visibility: hidden;
  opacity: 0;

  &:checked + .navbar__navigation {
    height: auto;
    visibility:visible;
    opacity:1;
  }
}

.navbar__navigation {
  height: 0;
  visibility: hidden; 
  opacity:0;
  overflow: hidden;
  margin: 0 -1em;
  
  @include bp($s2) {
    margin:0 0;
    height: auto;
    visibility:visible;
    opacity:1;
  }
}




/******** MAin Navigation ******/


.nav--main {
  margin: 0 0em;
  padding: 0 0;

  @include clearfix();
  @include bp($s2) {
    float: right;
  }
  li {
    font-size: 1.333em;
    line-height: 1;

    margin: 0 0 1px;
    padding: 0;

    list-style-type: none;

    text-align: center;

    color: $nt-white;

    @include bp($s2) {
      font-size: 0.875em;


      float: left;
			
			margin-bottom: 0;
      margin-left: .333em;
    }
    @include bp($s3) {
      font-size: 1em;
    }

    @include bp($s4) {
      font-size: 1em;
    }
    &.active,
    &:hover,
    &:focus {
      color: $nt-black;
      background-color: $nt-white;
    }
    > a {
      display: block;

      padding: 1em .666em;

      text-decoration: none;
      text-transform: uppercase;

      color: inherit;
      &:hover,
      &:focus {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}



/******* Sub Navigation *******/

.nav--sub {
  margin: 0 0;
  padding: 0 0;

  @include clearfix();
  @include bp($s2) {
    float: right;
    margin:0 0;
    padding:0 0;
  }
  li {
    font-size: 0.75em;
    line-height: 1;
    display: inline-block;

    margin: 0 -1px 1px;
    padding: 0;

    list-style-type: none;

    text-align: center;

    color: $nt-white;

    @include bp($s2) {
      font-size: 0.75em;

      float: left;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 1px;
      display: block;
    }

    @include bp($s3) {
      font-size: 0.875em;
    }




    &.active,
    &:hover,
    &:focus {
      color: $nt-black;
      background-color: $nt-white;
    }
    > a {
      display: block;

      padding: 1.25em .666em;

      text-decoration: none;
      text-transform: uppercase;

      color: inherit;
      &:hover,
      &:focus {
        color: inherit;
        background-color: inherit;
      }
    }
  }
}

