.project--single {
	@include bp($s2) {
		margin-top:2em;
	}
}
.project__gallery {
//	transition: width .6s ease;

	margin:0 -1em 2em -1em;
	@include bp($s2) {
		margin:0 0 2em;
		float:left;
		width:66.666%;
	}
	@include bp($s5) {
		width:50%;
	}

	@include bp($s2) {
		.fullgallery--shown & {
			width:100%;
			float:none;
		}
	}

	.fulltoggle {
		position: absolute;
		right:0.5em;
		top:0.5em;
		z-index: 11;
		color:$nt_white;
		font-size: 2em;
		line-height: 1;
		text-decoration: none;
		display: none;
		@include bp($s2) {
			display: block;
		}
	}
}

.project__header {
	font-size: 0.875em;
	@include bp($s2) {
		font-size: 0.75em;
		float:right;
		width:33.333%;
		padding-left: 1.5em;
	}
	@include bp($s3) {
		font-size: 0.875em;
		padding-left: 2.5em;
	}
	@include bp($s4) {

		//padding-left: 3em;
	}
	@include bp($s5) {
		//font-size: 1em;
		width:50%;
		padding-left: 5em;
	}


}

.project__title {
	font-weight: 800;
	font-size: 2.25em;
	line-height: 1;
	margin:0 0 1.5em;
}

.project__content {	
	@include clearfix();
	margin: 1em 0 0;
	font-size: 0.875em;

	//clear:both;
	@include bp($s2) {
		
		max-width: 66.666%;
	}	
	@include bp($s5) {
		//font-size: 1em;
		//clear:none;
		float:left;
		width:50%;
		padding-left: 5em;
		.fullgallery--shown & {
			padding-left: 0;
		}
	}
	
	.pd {
		margin-top: 0;
		font-size: 1.25em;
	}
}

.project__params {
	line-height: 1.4;

}

.param__title{
	font-size: 1.25em;
	margin:0 0 1em;
}
.param__item {
	margin:0 0 0.5em;
	span {
		font-weight: 700;	
	}
}


.project__related {
	margin: 2em 0 4em;
	.related__title {
		font-weight: 300;
		font-size: 1.125em;
		margin:0 0 1em;
	}
}


/********** Squared style *******/


.projectgrid, .employeegrid {
	margin:0 0.5%;
	margin-top:-1%;
	@include bp($s1) {
		margin:0 0.25%;
		margin-top:-0.5%;

	}
	@include bp($s2) {
		margin:0 0.25%;
		margin-top:-0.5%;
	}
	@include bp($s3) {
		margin:0 0.1666%;
		margin-top:-0.333%;
	}
	@include bp($s5) {
		margin:0 0.125%;
		margin-top:-0.25%;
	}
}

.square {
	@include clearfix();
	position: relative;
	//width:50%;
	width:48%;
	margin:1%;

	float:left;
	background-color: black;
	overflow:hidden;
	@include bp($s1) {
		//width:33.333%;
		width:32.333%;
		margin:0.5%;
	}
	@include bp($s2) {
		//width:25%;
		width:24%;
		margin:0.5%;
	}
	@include bp($s3) {
		//width:20%;
		width:19.333%;
		margin:0.333%;
	}
	@include bp($s5) {
		//width:16.666%;
		width:16.1666%;
		margin:0.25%;
	}
}

.square__figure {
	height: 0;
	padding-top: 100%;
	a {

	}
	img {
		display: block;
		margin-top:-100%;
		width:100%;
		height:auto;
	}
}

.square__datapanel {
	position:absolute;
	bottom:-100%;
	left:0;
	right:0;
	background-color: rgba($nt_black,0.95);
	font-size: 0.875em;
	line-height: 1;


	.square:hover &, .square:focus & {
		bottom:0;
	}

	> a, .linka {
		padding:0.75em 0.75em;
		display: block;
		color:inherit;
		text-decoration: none;
	}
}

.square__title {
	margin:0;
	padding:0;
	color:$nt_white;
	font-size: 1em;

	text-transform: nono;
	
}

.square__details {
	margin:0.5em 0;
	font-size: 0.875em;
	line-height: 1.125;
	a {
		color:inherit;
		text-decoration: none;
		&:hover, &:focus {
			color:#fff;
		}
	}
}
